<section class="grid grid-cols-[40%_60%]">
  <div></div>
  <section class="p-4 relative z-[3] mt-5">
    <h1 class="text-3xl font-bold">Category Name</h1>

    <div class="grid grid-cols-3 gap-2 mt-2">
      <div>
        <span class="block text-sm">Model:</span>
        <span class="block text-sm text-gray-400">Tatooine</span>
      </div>

      <div>
        <span class="block text-sm">Starship Class:</span>
        <span class="block text-sm text-gray-400">Tatooine</span>
      </div>

      <div>
        <span class="block text-sm">Manufacturer:</span>
        <span class="block text-sm text-gray-400">Tatooine</span>
      </div>

      <div>
        <span class="block text-sm">Cost in Credits:</span>
        <span class="block text-sm text-gray-400">Tatooine</span>
      </div>

      <div>
        <span class="block text-sm">Length:</span>
        <span class="block text-sm text-gray-400">Tatooine</span>
      </div>

      <div>
        <span class="block text-sm">Max Stmosphering Speed:</span>
        <span class="block text-sm text-gray-400">Tatooine</span>
      </div>
      <div>
        <span class="block text-sm">No of Crews:</span>
        <span class="block text-sm text-gray-400">Tatooine</span>
      </div>
      <div>
        <span class="block text-sm">No of Passengers:</span>
        <span class="block text-sm text-gray-400">Tatooine</span>
      </div>
      <div>
        <span class="block text-sm">Cargo Capacity:</span>
        <span class="block text-sm text-gray-400">Tatooine</span>
      </div>
      <div>
        <span class="block text-sm">Consumables:</span>
        <span class="block text-sm text-gray-400">Tatooine</span>
      </div>
      <div>
        <span class="block text-sm">Hyperdrive Rating:</span>
        <span class="block text-sm text-gray-400">Tatooine</span>
      </div>
    </div>
  </section>
</section>
