<section class="grid grid-cols-[70%_30%]" *ngIf="characterDetails">
  <section class="px-10 py-4 relative z-[3]">
    <h1 class="text-3xl font-bold">{{ characterDetails.name }}</h1>
    <div class="flex items-center flex-wrap gap-3 mt-2">
      <span class="text-sm"
        >Gender:
        <span class="text-yellow-600">{{
          characterDetails.gender | titlecase
        }}</span></span
      >
      <span class="text-sm"
        >Eye Color:
        <span class="text-yellow-600">{{
          characterDetails.eye_color | titlecase
        }}</span></span
      >
      <span class="text-sm"
        >Hair Color:
        <span class="text-yellow-600">{{
          characterDetails.hair_color | titlecase
        }}</span></span
      >
      <span class="text-sm"
        >Birth Year:
        <span class="text-yellow-600">{{
          characterDetails.birth_year | titlecase
        }}</span></span
      >
      <span class="text-sm"
        >Height:
        <span class="text-yellow-600">{{
          characterDetails.height | titlecase
        }}</span></span
      >
      <span class="text-sm"
        >Skin Color:
        <span class="text-yellow-600">{{
          characterDetails.skin_color | titlecase
        }}</span></span
      >
    </div>

    <section class="mt-3" *ngIf="homeWorldDetails">
      <h6 class="mb-3 italic">Homeworld Info:</h6>

      <div class="grid grid-cols-5 gap-3 ml-4">
        <div>
          <span class="block text-sm">Name:</span>
          <span class="block text-sm text-yellow-600">{{
            homeWorldDetails.name
          }}</span>
        </div>

        <div>
          <span class="block text-sm">Population:</span>
          <span class="block text-sm text-yellow-600">{{
            homeWorldDetails.population
              ? (homeWorldDetails.population | number)
              : "N/A"
          }}</span>
        </div>

        <div>
          <span class="block text-sm">Gravity:</span>
          <span class="block text-sm text-yellow-600">{{
            homeWorldDetails.gravity
          }}</span>
        </div>

        <div>
          <span class="block text-sm">Climate:</span>
          <span class="block text-sm text-yellow-600">{{
            homeWorldDetails.climate
          }}</span>
        </div>

        <div>
          <span class="block text-sm">Terrain:</span>
          <span class="block text-sm text-yellow-600">{{
            homeWorldDetails.terrain
          }}</span>
        </div>

        <div>
          <span class="block text-sm">Orbital Period:</span>
          <span class="block text-sm text-yellow-600">{{
            homeWorldDetails.orbital_period
          }}</span>
        </div>

        <div>
          <span class="block text-sm">No of resident:</span>
          <span class="block text-sm text-yellow-600">{{
            homeWorldDetails.residents.length
          }}</span>
        </div>
      </div>
    </section>

    <section class="mt-3" *ngIf="species.length">
      <h6 class="mb-3 italic">Species Info:</h6>

      <div class="grid grid-cols-2 gap-3 ml-4">
        <div
          class="border border-gray-600 rounded-md p-3"
          *ngFor="let specie of species"
        >
          <h6 class="text-sm font-semibold">{{ specie.name }}</h6>

          <div class="grid grid-cols-2 gap-2 mt-2">
            <div>
              <span class="block text-sm">Classification:</span>
              <span class="block text-sm text-gray-400">{{
                specie.classification
              }}</span>
            </div>

            <div>
              <span class="block text-sm">Average Height:</span>
              <span class="block text-sm text-gray-400">{{
                specie.average_height
              }}</span>
            </div>

            <div>
              <span class="block text-sm">Average Lifespan:</span>
              <span class="block text-sm text-gray-400">{{
                specie.average_lifespan
              }}</span>
            </div>

            <div>
              <span class="block text-sm">Language:</span>
              <span class="block text-sm text-gray-400">{{
                specie.language
              }}</span>
            </div>

            <div>
              <span class="block text-sm">Skin colors:</span>
              <span class="block text-sm text-gray-400">{{
                specie.skin_colors
              }}</span>
            </div>
            <div>
              <span class="block text-sm">Hair colors:</span>
              <span class="block text-sm text-gray-400">{{
                specie.hair_colors
              }}</span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="mt-3" *ngIf="starships.length">
      <h6 class="mb-3 italic">Starship Info:</h6>

      <div class="grid grid-cols-2 gap-3 ml-4">
        <div
          class="border border-gray-600 rounded-md p-3"
          *ngFor="let starship of starships"
        >
          <h6 class="text-sm font-semibold">{{ starship.name }}</h6>

          <div class="grid grid-cols-2 gap-2 mt-2">
            <div>
              <span class="block text-sm">Model:</span>
              <span class="block text-sm text-gray-400">{{
                starship.model
              }}</span>
            </div>

            <div>
              <span class="block text-sm">Manufacturer:</span>
              <span class="block text-sm text-gray-400">{{
                starship.manufacturer
              }}</span>
            </div>

            <div>
              <span class="block text-sm">Starship class:</span>
              <span class="block text-sm text-gray-400">{{
                starship.starship_class
              }}</span>
            </div>

            <div>
              <span class="block text-sm">Passengers:</span>
              <span class="block text-sm text-gray-400">{{
                starship.passengers
              }}</span>
            </div>

            <div>
              <span class="block text-sm">Hyperdrive Rating:</span>
              <span class="block text-sm text-gray-400">{{
                starship.hyperdrive_rating
              }}</span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="mt-3" *ngIf="vehicles.length">
      <h6 class="mb-3 italic">Vehicle Info:</h6>

      <div class="grid grid-cols-2 gap-3 ml-4">
        <div
          class="border border-gray-600 rounded-md p-3"
          *ngFor="let vehicle of vehicles"
        >
          <h6 class="text-sm font-semibold">{{ vehicle.name }}</h6>

          <div class="grid grid-cols-2 gap-2 mt-2">
            <div>
              <span class="block text-sm">Model:</span>
              <span class="block text-sm text-gray-400">{{
                vehicle.model
              }}</span>
            </div>

            <div>
              <span class="block text-sm">Manufacturer:</span>
              <span class="block text-sm text-gray-400">{{
                vehicle.manufacturer
              }}</span>
            </div>

            <div>
              <span class="block text-sm">Vehicle class:</span>
              <span class="block text-sm text-gray-400">{{
                vehicle.vehicle_class
              }}</span>
            </div>

            <div>
              <span class="block text-sm">Passengers:</span>
              <span class="block text-sm text-gray-400">{{
                vehicle.passengers
              }}</span>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
  <div></div>
</section>
