<section class="grid grid-cols-[40%_60%]">
  <div></div>
  <section class="p-10 relative z-[3]">
    <h1 class="text-3xl font-bold">Category Name</h1>

    <div class="grid grid-cols-3 gap-2 mt-2">
      <div>
        <span class="block text-sm">Producer:</span>
        <span class="block text-sm text-gray-400">Tatooine</span>
      </div>

      <div>
        <span class="block text-sm">Director:</span>
        <span class="block text-sm text-gray-400">Tatooine</span>
      </div>

      <div>
        <span class="block text-sm">Release Date:</span>
        <span class="block text-sm text-gray-400">Tatooine</span>
      </div>

      <div>
        <span class="block text-sm">No of characters:</span>
        <span class="block text-sm text-gray-400">Tatooine</span>
      </div>

      <div>
        <span class="block text-sm">No of Planets:</span>
        <span class="block text-sm text-gray-400">Tatooine</span>
      </div>
      <div>
        <span class="block text-sm">No of Starships:</span>
        <span class="block text-sm text-gray-400">Tatooine</span>
      </div>
      <div>
        <span class="block text-sm">No of Species:</span>
        <span class="block text-sm text-gray-400">Tatooine</span>
      </div>
      <div>
        <span class="block text-sm">No of Vehicles:</span>
        <span class="block text-sm text-gray-400">Tatooine</span>
      </div>
    </div>

    <section class="mt-3">
      <h6 class="mb-3 italic">Description:</h6>

      <div class="text-lg">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus,
        facere nihil! Veritatis, natus modi? Maiores optio enim debitis, rem
        quos quidem quia perferendis sunt assumenda mollitia earum illo magnam.
        Nobis!
      </div>
    </section>
  </section>
</section>
