<section class="grid grid-cols-[40%_60%]">
  <div></div>
  <section class="p-4 relative z-[3] mt-5">
    <h1 class="text-3xl font-bold">Category Name</h1>

    <div class="grid grid-cols-3 gap-2 mt-2">
      <div>
        <span class="block text-sm">Classification:</span>
        <span class="block text-sm text-gray-400">Tatooine</span>
      </div>

      <div>
        <span class="block text-sm">Designation:</span>
        <span class="block text-sm text-gray-400">Tatooine</span>
      </div>

      <div>
        <span class="block text-sm">Average Height:</span>
        <span class="block text-sm text-gray-400">Tatooine</span>
      </div>

      <div>
        <span class="block text-sm">Skin Colors:</span>
        <span class="block text-sm text-gray-400">Tatooine</span>
      </div>

      <div>
        <span class="block text-sm">Hair Colors:</span>
        <span class="block text-sm text-gray-400">Tatooine</span>
      </div>

      <div>
        <span class="block text-sm">Eye Colors:</span>
        <span class="block text-sm text-gray-400">Tatooine</span>
      </div>

      <div>
        <span class="block text-sm">Average Lifespan:</span>
        <span class="block text-sm text-gray-400">Tatooine</span>
      </div>
      <div>
        <span class="block text-sm">Language:</span>
        <span class="block text-sm text-gray-400">Tatooine</span>
      </div>
      <div>
        <span class="block text-sm">No of films:</span>
        <span class="block text-sm text-gray-400">Tatooine</span>
      </div>
      <div>
        <span class="block text-sm">No of people:</span>
        <span class="block text-sm text-gray-400">Tatooine</span>
      </div>
    </div>
  </section>
</section>
