<section
  class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-[40%_60%]"
  *ngIf="vehicleDetails"
>
  <div></div>
  <section class="p-4 relative z-[3] mt-5">
    <h1 class="text-3xl font-bold">{{ vehicleDetails.name }}</h1>

    <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 gap-2 mt-2">
      <div>
        <span class="block text-sm">Model:</span>
        <span class="block text-sm text-yellow-600">{{
          vehicleDetails.model
        }}</span>
      </div>

      <div>
        <span class="block text-sm">Vehicle Class:</span>
        <span class="block text-sm text-yellow-600">{{
          vehicleDetails.vehicle_class
        }}</span>
      </div>

      <div>
        <span class="block text-sm">Manufacturer:</span>
        <span class="block text-sm text-yellow-600">{{
          vehicleDetails.manufacturer
        }}</span>
      </div>

      <div>
        <span class="block text-sm">Cost in Credits:</span>
        <span class="block text-sm text-yellow-600">{{
          vehicleDetails.cost_in_credits
        }}</span>
      </div>

      <div>
        <span class="block text-sm">Length:</span>
        <span class="block text-sm text-yellow-600">{{
          vehicleDetails.length
        }}</span>
      </div>

      <div>
        <span class="block text-sm">Max Atmosphering Speed:</span>
        <span class="block text-sm text-yellow-600">{{
          vehicleDetails.manufacturer
        }}</span>
      </div>

      <div>
        <span class="block text-sm">Cargo Capacity:</span>
        <span class="block text-sm text-yellow-600">{{
          vehicleDetails.cargo_capacity
        }}</span>
      </div>
      <div>
        <span class="block text-sm">Consumables:</span>
        <span class="block text-sm text-yellow-600">{{
          vehicleDetails.consumables
        }}</span>
      </div>
      <div>
        <span class="block text-sm">No of films:</span>
        <span class="block text-sm text-yellow-600">Tatooine</span>
      </div>
    </div>
  </section>
</section>
