<nav class="w-full bg-transparent fixed top-0 left-0 px-2 py-4 z-10">
  <div
    class="container flex flex-col sm:flex-col md:flex-row items-center sm:items-center md:items-start justify-between mx-auto space-y-3"
  >
    <a
      [routerLink]="['/']"
      href="javascript:;"
      class="font-bold text-white website-logo w-[26%] sm:w-[26%] md:w-[14%] lg:w-[8%]"
    >
      <img
        src="assets/images/star-wars-logo.png"
        alt="star wars"
        class="w-full mx-auto"
      />
    </a>

    <div class="navigation-links flex gap-3 flex-row items-center">
      <a
        [routerLink]="['/people/list']"
        routerLinkActive="active"
        href="javascript:;"
        class="text-white text-base flex items-center gap-x-1 hover:text-yellow-600"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-4 h-4"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15 19.128a9.38 9.38 0 002.625.372 9.337 9.337 0 004.121-.952 4.125 4.125 0 00-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 018.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0111.964-3.07M12 6.375a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zm8.25 2.25a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z"
          />
        </svg>

        Browse Characters</a
      >

      <form action="" class="">
        <input
          type="text"
          placeholder="Search characters"
          aria-label="Search characters"
          class="text-sm bg-transparent p-2 rounded-md border focus:border-yellow-600 border-gray-500 w-[200px] outline-none"
        />
      </form>
    </div>
  </div>
</nav>
