<nav
  class="w-full fixed top-0 left-0 px-2 py-4 z-10 bg-[#0c0e1a] border-b border-gray-800"
>
  <div
    class="container flex flex-col sm:flex-col md:flex-row items-center justify-between mx-auto space-y-3"
  >
    <div
      class="flex items-center justify-between sm:justify-between md:justify-start space-x-5"
    >
      <a
        [routerLink]="['/']"
        href="javascript:;"
        class="font-bold text-white website-logo w-[26%] sm:w-[26%] md:w-[15%]"
      >
        <img
          src="assets/images/star-wars-logo.png"
          alt="star wars"
          class="w-full mx-auto"
        />
      </a>

      <a
        (click)="viewCharacters()"
        href="javascript:;"
        class="text-white text-base flex items-center gap-x-1 hover:text-yellow-600"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-4 h-4"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15 19.128a9.38 9.38 0 002.625.372 9.337 9.337 0 004.121-.952 4.125 4.125 0 00-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 018.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0111.964-3.07M12 6.375a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zm8.25 2.25a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z"
          />
        </svg>

        Browse Characters</a
      >
    </div>

    <div class="navigation-links flex gap-3 flex-row items-center">
      <div
        class="recent-visits min-w-[500px] flex items-center space-x-1 justify-end"
      >
        <a
          *ngFor="let history of recentHistories$ | async"
          href="javascript:;"
          (click)="viewDetails(history)"
          class="text-xs italic text-white flex items-center gap-1 underline underline-yellow-600 font-semibold"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-3 h-3 text-yellow-600"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z"
            />
          </svg>

          {{ history.name }}</a
        >
      </div>

      <form novalidate class="relative text-white">
        <ng-container *ngIf="searching; else elseTemplate">
          <svg
            class="animate-spin h-4 w-4 absolute top-[30%] left-[11px]"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
          >
            <circle
              class="opacity-25"
              cx="12"
              cy="12"
              r="10"
              stroke="currentColor"
              stroke-width="4"
            ></circle>
            <path
              class="opacity-75"
              fill="currentColor"
              d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
            ></path>
          </svg>
        </ng-container>
        <ng-template #elseTemplate>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-4 h-4 absolute top-[50%] translate-x-[10px] -translate-y-[50%]"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
            />
          </svg>
        </ng-template>

        <input
          #searchInput
          type="text"
          placeholder="Search characters"
          aria-label="Search characters"
          class="text-sm bg-transparent pl-8 py-2 rounded-full border focus:border-yellow-600 border-gray-700 w-[200px] outline-none"
        />
      </form>
    </div>
  </div>
</nav>
