<nav class="w-full bg-transparent fixed top-0 left-0 px-2 py-4 z-[2]">
  <div
    class="container flex flex-col sm:flex-col md:flex-row items-center sm:items-center md:items-start justify-between mx-auto space-y-3"
  >
    <a
      href="/"
      class="font-bold text-white website-logo w-[26%] sm:w-[26%] md:w-[8%]"
    >
      <img
        src="assets/images/star-wars-logo.png"
        alt="star wars"
        class="w-full mx-auto"
      />
    </a>

    <div class="navigation-links flex gap-3 flex-row items-center">
      <form action="" class="">
        <input
          type="text"
          placeholder="Search characters"
          aria-label="Search characters"
          class="text-sm bg-transparent p-2 rounded-md border focus:border-yellow-600 border-gray-400 w-[200px] outline-none"
        />
      </form>
      <a href="" class="text-white text-lg">Lister Page</a>
    </div>
  </div>
</nav>
