<div
  class="relative text-white z-10 w-full h-full flex items-center justify-center"
>
  <div class="slider-container w-full h-full mt-[6.5rem]">
    <swiper-container
      slides-per-view="3"
      speed="500"
      loop="false"
      css-mode="true"
      centered-slides="true"
      navigation="true"
      pagination="true"
      class="mySwiper"
      space-between="30"
      autoplay-delay="2500"
      autoplay-disable-on-interaction="false"
      #swiperContainer
    >
      <swiper-slide>
        <div
          class="w-full h-full rounded-md overflow-hidden bg-[url('assets/images/people.jpg')] bg-center bg-cover bg-no-repeat"
        ></div>
      </swiper-slide>
      <swiper-slide>
        <div
          class="w-full h-full bg-red-600 rounded-md overflow-hidden bg-[url('assets/images/planet.jpg')] bg-center bg-cover bg-no-repeat"
        ></div>
      </swiper-slide>
      <swiper-slide>
        <div
          class="w-full h-full bg-red-600 rounded-md overflow-hidden bg-[url('assets/images/species.jpg')] bg-center bg-cover bg-no-repeat"
        ></div>
      </swiper-slide>
      <swiper-slide>
        <div
          class="w-full h-full bg-red-600 rounded-md overflow-hidden bg-[url('assets/images/starship.jpg')] bg-center bg-cover bg-no-repeat"
        ></div>
      </swiper-slide>
      <swiper-slide>
        <div
          class="w-full h-full bg-red-600 rounded-md overflow-hidden bg-[url('assets/images/vehicles.jpg')] bg-center bg-cover bg-no-repeat"
        ></div>
      </swiper-slide>
    </swiper-container>
  </div>
</div>
